<div class='container'>
  <div class='row'>
    <div class='col-md-7'>
      <blockquote>
        <h2>Услуги:</h2>
        <ul class='list list-unstyled'>
          <li> предоставление технической поддержки </li>
          <li> reception              </li>
          <li> назначение встреч клиентов с сотрудниками отделений с целью дальнейшей продажи продукта </li>
          <li> работа с жалобами    </li>
          <li>работа с должниками  </li>
          <li> обслуживание держателей платежных карт  </li>
          <li> послепродажное обслуживание      </li>
          <li> продажа банковских продуктов    </li>
          <li> информация о местоположении, контактах, режиме работы отделений      </li>
          <li> информация о продуктах банка</li>
        </ul>
      </blockquote>

    </div>
    <div class='col-md-5'>
      <h3>
          <address>
            <strong>Адрес</strong><br>
            ул. Набережная Победы, 50,<br>
            г.Днепропетровск, 49094, Украина<br>
            <strong>Контактные телефоны</strong><br>
            +38(095)346-55-50  <br>
            3800     <br>
          </address>

          <address>
            <strong>Электронная почта</strong><br>
            <a href="mailto:help@аlfacreditbank.ru">help@аlfacreditbank.ru</a>
          </address>
      </h3>
    </div>
  </div>
  <div class='row text-center'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <br>
      <hr>
      <br>
      <h3>Для того, чтобы попасть на примем в контакт-центр банка, необходимо заполнить заявку</h3>
      <a class='btn btn-lg btn-success btn-primary' href='/requests/new'>Заполнить заявку</a>
      <br>
      <hr>
      <br>
    </div>
  </div>
</div>                                             :