<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <p>
        Сайт контактного - центра банка «AlfaCreditBank» позволяет клиенту быстро в режиме он-лайн заполнить заявление на прием в контакт-центр для решения имеющегося вопроса, указав наиболее удобную дату и время приема. Заполнение заявления через сайт уменьшит время клиента и оптимизирует работу оператора.
      </p>
      <p>  Прийти на прием клиенты могут с понедельника по пятницу и с 9:00 до 16:00. </p>
      <p>  Для того чтобы начать работу с сайтом, необходимо зайти на сайт по адресу: http://floating-gorge-3088.herokuapp.com .</p>
      <p> Зарегистрироваться, если вы еще не зарегистрированы или войти на сайт под своим логином и паролем. Или перейти сразу к просмотру сайта не зарегистрировавшись и не авторизировавшись.</p>
      <p>Далее можно просмотреть информацию об услугах контакт-центра и отправить заявление. После чего не обходимо  пождать сообщение от оператора с подтверждением даты и времени приема, которое придет на электронный почту клиента.</p>

    </div>
  </div>
</div>
