<div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='jumbotron text-center'>
            <h1>Добро пожаловать</h1>
            <h2> на сайт коммерческого банка Alfa Сredit bank</h2>
            <br>
            <a class='btn btn-lg btn-success btn-primary' href='/contact_center'>Перейти к контакт-центру</a>
        </div>
      </div>
    </div>
</div>

<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading">Банк-<span class="text-muted">лидер</span></h2>
      <p class="lead">
        Основанный в 1992 году, коммерческий банк Alfa Сredit bank является лидером банковского рынка страны.
        По данным исследования GFK Ukraine в третьем квартале 2012 года нас считает основным банком 35% клиентов –
        физических лиц, что больше, чем у следующих за нами семи банков вместе взятых.
        Среди корпоративных клиентов этот показатель составляет 38%.
      </p>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <h2 class="featurette-heading">Главная<span class="text-muted"> цель -</span></h2>
      <p class="lead">
        предоставление населению и юридическим лицам платѐжных и других банковских услуг  с использованием  инновационных инструментариев банковского обслуживания.
      </p>
    </div>
  </div>
  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading">Инновации <span class="text-muted">- ключ к успеху</span></h2>
      <p class="lead">
        Более десяти лет назад банк стал одним из первых в мире, начавших использовать одноразовые SMS-пароли.
        К последним инновациям, которые получили признание по всему миру, относятся такие продукты, как платежный мини-терминал,
        онлайн-инкассация, мобильные приложения, автоматизация записи клиентов на прием к сотрудникам банка.
      </p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <hr class="featurette-divider">

  <footer>
    <p class="pull-right"><a href="#">Наверх</a></p>
    <p>&copy; 2014 Alfa Сredit bank Inc. </p>
  </footer>
</div>
